body {
    background-image: url(./images/head_bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #E1F0FA;
}

a:hover {
    color: #fe9705;
}

nav a.nav-item {
    color: #fff;
}

.pc-header {
    padding: 64px 0 60px;
}

.mobile-header .head-title {
    color: #ffffff;
    display: flex;
    align-items: center;
}

.mobile-header .dropdown-menu {
    background-color: #eee;
}

.mobile-header .dropdown-item {
    width: 46%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .2rem 0 .2rem 1rem;
}

.mobile-header .navbar-nav .nav-link {
    font-size: 1rem;
    padding-left: 2.8rem;
}

.mobile-header .navbar-toggler {
    padding: .2rem .25rem;
    font-size: 1rem;
}

.mobile-header h1 {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 1.4rem;
}

.pc-header .header-logo {
    margin: 20px 0 15px;
}

.pc-header .header-tags ul {
    list-style: none;
    display: flex;
}

.header-tags ul li {
    font-size: 32px;
    color: #FF9900;
    text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff;
    padding-left: 20px;
    font-family: '宋体';
    font-weight: 700;
}

.main-nav {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #ddd;
}

.main-nav .dropdown-toggle {
    color: #ffffff;
}

.main-content {
    position: relative;
    padding: 20px 15px;
    min-height: 500px;
    background-color: #fff;
    overflow-x: hidden;
}

.main-content .row {
    margin-bottom: 1.2rem;
}

.news-announcement-wrap {
    height: 345px;
    overflow: hidden;
}

.main-content .carousel-wrap,.main-content .text-wrap  {
    padding: 0 1.2rem;
    position: relative;
}

.text-more {
    position: absolute;
    top: 15px;
    right: 1.2rem;
    color: #a7a7a7;
    font-size: 12px;
}

.text-title {
    position: relative;
    line-height: 45px;
    border-bottom: 1px solid #ccc;
}

.text-title aside {
    display: inline-block;
    color: #ccc;
    font-size: 14px;
}

.text-title header {
    position: relative;
    top: 1px;
    display: inline-block;
    padding: 0 8px;
    font-size: 17px;
    border-bottom: 1px solid #049af1;
}

.text-title .text-more {
    top: 3px;
    right: 0;
}

.text-list {
    list-style: none;
    padding-left: 0;
}

.text-list li{
    position: relative;
    font-size: 14px;
}

.text-list li:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 2px;
    width: 5px;
    height: 5px;
    background-color: #b3b3b3;
}

.text-list li>a {
    cursor: pointer;
    display: block;
    padding: 7px 55px 7px 20px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-list li>span{
    position: absolute;
    top: 7px;
    right: 0;
    color: #888;
}

.container-xl {
    padding-left: 0;
    padding-right: 0;
}

.main-content .nav-pills .nav-link {
    color: #333333;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    border-radius: 0;
    background-color: #FE9705;
}

.main-content li.nav-item {
    position: relative;
}

.main-content a.nav-link.active:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 40%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fe9705;
}

.main-footer {
    text-align: center;
    padding: 34px 0 10px;
}

.main-footer, .main-footer a {
    color: #333
}

.main-footer p {
    font-size: 12px;
}

.company-info>span, .company-info>a {
    margin-left: .8rem;
}

/* mobile style */
@media (max-width: 767px) {
    .header-tags ul li {
        font-size: 28px;
    } 
}

@media (max-width: 575px) {
    body {
        background: none;
    }
    .main-content {
        padding: 0 5px 10px;
    }
    .news-announcement-wrap {
        margin-top: 0.6rem;
    }
    .main-content .carousel-item img {
        height: 10rem;
        width: auto;
    }
}