html {
    font-size: 16px;
}

body {
    background-image: url("./images/head_bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #E1F0FA;
}

a:hover {
    color: #fe9705;
}

nav .nav-item {
    color: #fff;
}

.pc-header {
    padding: 64px 0 60px;
}

.mobile-header .head-title {
    color: #ffffff;
    display: flex;
    align-items: center;
}

.mobile-header .dropdown-menu {
    background-color: #eee;
}

.mobile-header .dropdown-item {
    width: 46%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .2rem 0 .2rem 1rem;
}

.mobile-header .navbar-nav .nav-link {
    font-size: 1rem;
    padding-left: 2.8rem;
}

.mobile-header .navbar-toggler {
    padding: .2rem .25rem;
    font-size: 1rem;
}

.mobile-header h1 {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 1.4rem;
}

.pc-header .header-logo {
    margin: 20px 0 15px;
}

.pc-header .header-tags ul {
    list-style: none;
    display: flex;
}

.header-tags ul li {
    font-size: 32px;
    color: #FF9900;
    text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff;
    padding-left: 20px;
    font-family: '宋体';
    font-weight: 700;
}

.main-nav {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #ddd;
}

.main-nav a.nav-link {
    color: #fff;
}

.main-nav .dropdown-toggle {
    color: #ffffff;
}

.main-content {
    position: relative;
    padding: 20px 15px;
    min-height: 500px;
    background-color: #fff;
    overflow-x: hidden;
}

.main-content .row {
    margin-bottom: 1.2rem;
}

.news-announcement-wrap {
    height: 345px;
    overflow: hidden;
}

.news-announcement-wrap > .nav{
    border-bottom: 1px solid #ccc;
}

.main-content .carousel-wrap,.main-content .text-wrap  {
    padding: 0 1.2rem;
    position: relative;
}

.text-more {
    position: absolute;
    top: 15px;
    right: 1.2rem;
    color: #a7a7a7;
    font-size: 12px;
}

.text-title {
    position: relative;
    line-height: 45px;
    border-bottom: 1px solid #ccc;
}

.text-title aside {
    display: inline-block;
    color: #ccc;
    font-size: 14px;
}

.text-title header {
    position: relative;
    top: 1px;
    display: inline-block;
    padding: 0 8px;
    font-size: 17px;
    border-bottom: 1px solid #049af1;
}

.text-title .text-more {
    top: 3px;
    right: 0;
}

.text-list {
    list-style: none;
    padding-left: 0;
}

.text-list li{
    position: relative;
    font-size: 14px;
}

.text-list li:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 2px;
    width: 5px;
    height: 5px;
    background-color: #b3b3b3;
}

.text-list li>a {
    cursor: pointer;
    display: block;
    padding: 7px 55px 7px 20px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-list li>span{
    position: absolute;
    top: 7px;
    right: 0;
    color: #888;
}

.container-xl {
    padding-left: 0;
    padding-right: 0;
}

.main-content .nav-pills .nav-link {
    color: #333333;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    border-radius: 0;
    background-color: #FE9705;
}

.main-content li.nav-item {
    position: relative;
}

.main-content a.nav-link.active:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 40%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fe9705;
}

.main-footer {
    text-align: center;
    padding: 34px 0 10px;
}

.main-footer, .main-footer a {
    color: #333
}

.main-footer p {
    font-size: 12px;
}

.company-info>span, .company-info>a {
    margin-left: .8rem;
}

.channel-content {
    position: relative;
    overflow-x: hidden;
    padding: 20px;
    min-height: 500px;
    background-color: #fff;
}

.channel-nav>a.nav-link {
    padding: 12px 35px;
    font-size: 18px;
    background-color: #EEEEEE;
    position: relative;
    margin-top: 3px;
    border-radius: 0;
    color: #333;
}

.nav .nav-header {
    position: relative;
    padding: 0 0 0 35px;
    height: 80px;
    line-height: 70px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background-color: #0498d4;
    border-radius: 0;
    display: block;
    cursor: default;
    text-decoration: none;
}

.nav .nav-header:after {
    content: '';
    position: absolute;
    bottom: 18px;
    left: 36px;
    width: 45px;
    height: 1px;
    background-color: #fff;
}

.channel-text-wrap header {
    line-height: 45px;
    border-bottom: 1px solid #ccc;
    margin-bottom: .2rem;
    position: relative;
}

.channel-title__text h2{
    position: relative;
    top: 1px;
    margin-bottom: 0;
    display: inline-block;
    padding: 0 8px;
    font-size: 18px;
    padding-bottom: 13px;
    border-bottom: 1px solid #049af1;
}

.channel-title__text aside {
    display: inline-block;
    color: #ccc;
    font-size: 14px;
}

.channel-title__nav .breadcrumb {
    background-color: transparent;
    padding: 0;
    align-items: center;
    margin-bottom: 0;
}

.channel-title__nav .breadcrumb>img {
    margin-right: .5rem;
}

.channel-title__nav .breadcrumb-item a{
    color: #999;
    font-size: 12px;
}

.channel-title__nav .breadcrumb-item a:hover{
    text-decoration: none;
}

.channel-title__nav .breadcrumb-item+.breadcrumb-item::before {
    color: #999;
    font-size: 14px;
    content: "\00bb\00a0";
}

.channel-text__list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.channel-text__list li {
    padding-left: 10px;
    position: relative;
}

.channel-text__list li>a:hover {
    background-color: #F3F3F3;
}

.channel-text__list li>a {
    color: #212529;
    text-decoration: none;
    padding: 8px 90px 8px 5px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.channel-text__list li>span {
    position: absolute;
    color: #999;
    top: 8px;
    right: 5px;
    font-size: 16px;
}

.channel-text__list li:before {
    content: '';
    position: absolute;
    top: 19px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #0498d4;
}

.channel-content footer {
    margin-top: 1rem;
}

.detail-content {
    position: relative;
    padding: 20px 0;
    min-height: 500px;
    background-color: #fff;
    overflow-x: hidden;
}

.detail-content .detail-article {
    margin: 40px auto 100px;
    max-width: 950px;
    text-align: center;
}

.detail-article h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 1.6rem 0;
    line-height: 1.15;
}

.detail-article .article-meta {
    font-size: 0.8rem;
    line-height: 1.5;
    color: #999;
}

.detail-article .article-meta span {
    margin: 0 15px;
    color: #777;
}

.page-item.active .page-link {
    background-color: #0498d4;
    border-color: #0498d4;
}

/* mobile style */
@media (max-width: 767px) {
    .header-tags ul li {
        font-size: 28px;
    } 
}

@media (max-width: 575px) {
    body {
        background: none;
    }
    .main-content {
        padding: 8px 5px 10px;
    }
    .news-announcement-wrap {
        margin-top: 0.6rem;
    }
    .main-content .carousel-item img {
        height: 10rem;
        width: auto;
    }
    .channel-content {
        padding: 0 12px 15px;
    }
}